---
layout: page
title: Download
permalink: /download
---
<p>
    ReductStore supports Linux, macOs and Windows on AMD64 platform.
</p>
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#linux" aria-controls="python" role="tab" data-toggle="tab">Linux</a>
    </li>
    <li role="presentation">
        <a href="#macOs" aria-controls="js" role="tab" data-toggle="tab">macOs</a>
    </li>
    <li role="presentation">
        <a href="#windows" aria-controls="cpp" role="tab" data-toggle="tab">Windows</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content" id="UsageTab">
    <div role="tabpanel" class="tab-pane active" id="linux">
        <h2>ReductStore</h2>
        <div class="hline"></div>

        <h4>Binary</h4>

        <pre><code>    wget https://github.com/reductstore/reductstore/releases/download/{{ site.projects.reductstore.version }}/reductstore.linux-amd64.tar.gz
    tar xfv reductstore.linux-amd64.tar.gz
    RS_DATA_PATH=./data ./reductstore</code></pre>
        <h4>Docker</h4>
        <pre><code>    docker run -p 8383:8383 -v ${PWD}/data:/data reductstore/reductstore:latest</code></pre>
        {% include download_sdks.html %}
        {% include download_cli.html %}
    </div>
    <div role="tabpanel" class="tab-pane" id="macOs">
        <h2>ReductStore</h2>
        <div class="hline"></div>

        <h4>Binary</h4>
        <pre><code>    wget https://github.com/reductstore/reductstore/releases/download/{{ site.projects.reductstore.version }}/reductstore.macos-amd64.tar.gz
    tar xfv reductstore.macos-amd64.tar.gz
    RS_DATA_PATH=./data ./reductstore</code></pre>
        {% include download_sdks.html %}
        {% include download_cli.html %}
    </div>
    <div role="tabpanel" class="tab-pane" id="windows">
        <h2>ReductStore</h2>
        <div class="hline"></div>

        <h4>Binary</h4>
        <pre><code>    Invoke-WebRequest -Uri  https://github.com/reductstore/reductstore/releases/download/{{ site.projects.reductstore.version }}/reductstore.win-amd64.zip -OutFile reductstore.zip
    Expand-Archive -LiteralPath reductstore.zip -DestinationPath .
    .\reductstore.exe</code></pre>

        {% include download_sdks.html %}
        {% include download_cli.html %}
    </div>
</div>
<p>
    All the binaries and source code are available on <a
        href="https://github.com/reductstore/reductstore/releases/tag/{{ site.projects.reductstore.version }}">the
    release page</a>
</p>
