<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h4>About</h4>
                <div class="hline-w"></div>
                <p>{{ site.about }}</p>
            </div>
            <div class="col-lg-1">
                <h4>Links</h4>
                <div class="hline-w"></div>
                <div class="btn-group-vertical btn-group-lg" style="text-align: left">
                    <a class="btn-social btn-outline" href="{{ site.baseurl }}/pricing">Pricing</a><br/>
                    <a class="btn-social btn-outline" href="{{ site.baseurl }}/blog/">Blog</a><br/>
                    <a class="btn-social btn-outline" href="https://docs.reduct.store">Docs</a><br/>
                    <a class="btn-social btn-outline" href="{{ site.baseurl }}/faq">FAQ</a><br/>
                </div>
            </div>
            <div class="col-lg-3">
                <h4>Social</h4>
                <div class="hline-w"></div>
                <p>
                    {% for network in site.social %}
                    <a href="{{ network.url }}" class="btn-social btn-outline">
                        <i class="fab fa-{{ network.title }}" aria-hidden="true"></i>
                        <span class="sr-only">{{network.title}}</span>
                    </a>
                    {% endfor %}
                    <a href="https://github.com/orgs/reductstore/discussions" class="btn-social btn-outline">
                        <i class="fas fa-comments" aria-hidden="true"></i>
                        <span class="sr-only">GitHub Discussions</span>
                    </a>
                </p>
            </div>

            <div class="col-lg-3">
                <h4>Imprint</h4>
                <div class="hline-w"></div>
                <p>
                    ReductStore LLC<br/>
                    {{ site.address[0] }}
                    <br/>
                    {{ site.address[1] }}
                    <br/>
                    <a href="mailto:info@reduct.store">info@reduct.store</a></p>
            </div>
        </div>
        <! --/row -->
    </div>
    <! --/container -->
</div>
<! --/footerwrap -->
