<div class="pricing-table">
    <div class="plan">
        <h2 class="plan-title">Community</h2>

        <h3 class="price">Totally Free of Charge</h3>

        <p class="plan-description">Ideal for entities with finances below $2M</p>

        <ul class="features">
            <li>Unbounded Usage</li>
            <li>Open Source & Free</li>
            <li>No Limitations on Features</li>
        </ul>
        <a class="btn community" href="https://docs.reduct.store/">Get Started</a>
    </div>
    <div class="plan enterprise">
        <h2 class="plan-title">Enterprise Edition</h2>

        <h3 class="price">Custom Pricing</h3>

        <p class="plan-description">For larger firms needing custom solutions</p>

        <ul class="features">
            <li>Unlimited Usage</li>
            <li>Free Development Usage</li>
            <li>Storage-Based Pricing</li>
            <li>Annual Solution Review</li>
        </ul>
        <a href="/contact" class="btn">Contact Sales</a>
    </div>
</div>