<script async src="https://js.stripe.com/v3/pricing-table.js"></script>
<stripe-pricing-table pricing-table-id="prctbl_1MycocBKYlfcheCvAR6SL7cR"
                      publishable-key="pk_live_51MySzVBKYlfcheCvkJcURFxkzjlK0ff23IYJ4K8SsUGiZ2hZORKmk4feLpzUw5gpvUpk0XLR5niZESAecY9EsW6I00AptUDPnP">
</stripe-pricing-table>
<div class="text-center">
    By subscribing to any plan, you agree to our <a href="/terms_and_conditions">Subscription Agreement</a> and <a
        href="/privacy_policy">Privacy Policy</a>.
</div>