<div class="col-lg-4">
  <h4>Recent Posts</h4>
  <div class="hline"></div>
  <ul class="popular-posts">
    {% for post in site.posts limit:4 %}
    <li>
      <p><a class="ctitle" href="{{ post.url }}">{{ post.title }}</a></p>
      <em>Posted on {{ post.date | date_to_string }}</em>
    </li>
    {% endfor %}
  </ul>

  <div class="spacing"></div>

  <h4>Popular Tags</h4>
  <div class="hline"></div>
  <p>
    {% for category in site.categories %}
    <a class="btn btn-theme" href="{{ '/category/#'  | prepend: site.baseurl  }}{{ category | first }}" role="button">{{
      category | first | capitalize }} ({{ category | last | size }})</a>
    {% endfor %}
  </p>
</div>
