<div id="">
    <div class="container centered">
        <div class="row">
            {% for testimonial in site.testimonials %}
            <div class="col-xs-8 col-md-4">
                <a href="{{testimonial.homepage}}" class="thumbnail">
                    <img src="{{ testimonial.image }}" alt="{{testimonial.company}}" class=""/>
                </a>
                <div class="">

                    <span style="font-style: italic">"{{ testimonial.message }}"</span>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="spacing"></div>
        <div class="row">
            {% for testimonial in site.testimonials %}
            <div class="col-xs-8 col-md-4">

                <div class="text-right">
                    <div style="font-weight: bolder"> {{ testimonial.author }}</div>
                    {{ testimonial.position }} at {{
                    testimonial.company }}
                </div>
            </div>

            {% endfor %}
        </div>
        <! --/row -->
    </div>
    <div class="spacing"></div>

    <! --/container -->
</div>
<! --/twrap -->