<div class="main-page-section">
    <div class="row vertical">
        <div class="col-md-7 hidden-sm hidden-xs" style="padding: 20px">
            {% include snippets/rcl.html %}
        </div>
        <div class="col-md-5 centered">
            <h3>CLI Client</h3>
            <p>
                You can manage your ReductStore instance and export data from it by
                using
                <a href="http://github.com/reductstore/reduct-cli">ReducStore CLI client</a>. The client is
                cross-platform, written in Python and available as
                a PIP package.
            </p>
        </div>
    </div>
</div>
