<div class="main-page-section">
    <div class="row centered vertical">
        <div class="col-md-5">
            <h3>Web Console</h3>
            <p>
                ReductStore has an integrated
                <a href="https://github.com/reductstore/web-console">web console</a>
                that allows you to easily manage your data and access to it.
            </p>
        </div>

        <div class="col-md-7 col-md-offset-0 hidden-sm hidden-xs" style="padding: 20px">
            <a href="https://github.com/reductstore/web-console">
                <img src="assets/img/web-console.png" class="img-rounded" alt="ReductStore Web Console"/>
                <!--                            <img src="assets/img/blog/thumbs/web-console.png" alt="ReductStore Web Console"/>-->
            </a>
        </div>
    </div>
</div>
