---
layout: default
---

{% include wrap.html %}

<div class="container mb">
  <div class="row">
    <! -- SINGLE POST -->
    <div class="col-lg-8">
      <! -- Blog Post -->
      <p>
        <csmall>{{ page.date | date: "%b %-d, %Y" }}. | By: {{ page.author }}</csmall>
        {% if page.canonical_url %}
        <csmall>| Orginaly published at <a href="{{page.canonical_url}}">{{page.canonical_url | remove:'https://' |
          split:'/' | first}}</a></csmall>
        {% endif %}
      </p>


      {{ content }}


      {% for category in page.categories %}
      <a class="btn btn-theme btn-xs" href="{{ '/category/#'  | prepend: site.baseurl  }}{{ category | first }}" role="button">#{{
        category  | capitalize }}</a>
      {% endfor %}

      <div class="spacing"></div>

      {% include share_bar.html%}
    </div>
    <! --/col-lg-8 -->

    {% include sidebar.html %}

  </div>
  <! --/row -->
</div><! --/container -->
