{% highlight cpp %}
#include <reduct/client.h>
#include <iostream>

using reduct::IBucket;
using reduct::IClient;

int main() {
  auto client = IClient::Build("https://play.reduct-storage.dev");
  auto [bucket, create_err] = client->GetOrCreateBucket("bucket");

  IBucket::Time ts = IBucket::Time::clock::now();
  [[maybe_unused]] auto err = bucket->Write("entry-1", ts, [](auto rec) {
    rec->WriteAll("Hello, World!");
  });

  err = bucket->Read("entry-1", ts, [](auto rec) {
    std::cout << "Read record: "
      << rec.ReadAll().result << std::endl;
    return true;
  });
}
{% endhighlight %}
