{% highlight rust %}
use bytes::Bytes;
use reduct_rs::{HttpError, ReductClient};
use std::str::from_utf8;
use std::time::SystemTime;
use tokio;

#[tokio::main]
async fn main() -> Result<(), HttpError> {
    let timestamp = SystemTime::now();

    let client = ReductClient::builder().url("http://127.0.0.1:8383").build();
    let bucket = client.create_bucket("test").exist_ok(true).send().await?;
    bucket
        .write_record("entry-1")
        .timestamp(timestamp)
        .data(Bytes::from("Hello, World!")).send().await?;

    let record = bucket
        .read_record("entry-1")
        .timestamp(timestamp).send().await?;

    println!(
        "Data: {}",
        from_utf8(&record.bytes().await?.to_vec()).unwrap()
    );

    Ok(())
}
{% endhighlight %}
